/* roboto-regular - latin */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/roboto-v20-latin-regular.eot'); /* IE9 Compat Modes */
    src: local('Roboto'), local('Roboto-Regular'),
         url('../fonts/roboto-v20-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/roboto-v20-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/roboto-v20-latin-regular.woff') format('woff'), /* Modern Browsers */
         url('../fonts/roboto-v20-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/roboto-v20-latin-regular.svg#Roboto') format('svg'); /* Legacy iOS */
  }
  /* roboto-700 - latin */
  @font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/roboto-v20-latin-700.eot'); /* IE9 Compat Modes */
    src: local('Roboto Bold'), local('Roboto-Bold'),
         url('../fonts/roboto-v20-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/roboto-v20-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/roboto-v20-latin-700.woff') format('woff'), /* Modern Browsers */
         url('../fonts/roboto-v20-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/roboto-v20-latin-700.svg#Roboto') format('svg'); /* Legacy iOS */
  }
  /* roboto-900 - latin */
  @font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    src: url('../fonts/roboto-v20-latin-900.eot'); /* IE9 Compat Modes */
    src: local('Roboto Black'), local('Roboto-Black'),
         url('../fonts/roboto-v20-latin-900.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/roboto-v20-latin-900.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/roboto-v20-latin-900.woff') format('woff'), /* Modern Browsers */
         url('../fonts/roboto-v20-latin-900.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/roboto-v20-latin-900.svg#Roboto') format('svg'); /* Legacy iOS */
  }


*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    background-color: #2d2d2d;
    font-family: 'Roboto', Arial, sans-serif;
    color: #ffffff;
    font-size: 20px;
}

.wrapper {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 50px 20px;
}

.fullscreen {
    min-height: 100vh;
    background-color: #017E7E;
    display: flex;
    padding: 20px 0;
}

.fullscreen_bg {
    background: url(../images/bg.png) repeat fixed;
}

.fullscreen__body {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1 1 auto;
    
}
.fullscreen__title {
    margin-bottom: 20px;
    font-size: 50px;
    font-weight: 700;
    text-transform: uppercase;
}
.fillscreen__text {
    font-size: 25px;
    margin-bottom: 50px;
}
.fullscreen__link {
    padding: 0 30px;
    display: inline-block;
    line-height: 50px;
    font-weight: 700;
    text-transform: uppercase;
    color: #ffffff;
    text-decoration: none;
    letter-spacing: 2px;
    background-color: #FF7503;
    border-radius: 25px;
    align-self: center;
}

.content__title {
    margin: 50px 0;
    font-size: 30px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
}

.content__text {
    line-height: 1.5;
    letter-spacing: 1px;
}

.content__text:not(:last-child) {
    margin-bottom: 20px;
}

.content__text:last-child {
    margin-bottom: 70px;
}

.footer {
    background-color: #017E7E;
    text-align: center;
}
.footer__body {
    text-transform: uppercase;
    letter-spacing: 2px;
}
